.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}














body {
  background-color: #59ACB2;
  background-image : url("Assets/wallpaper.png");
  padding-top: 10px;
}

[class*="col-"], footer {
  line-height: 30px;
  text-align: center;
}

@media (min-width:1200px) {
  .login-container {
      width: 1200px;
  }
}

header {
  background-color: #B2DDE0;
  border: 3px solid #38868C;
  border-radius: 20px;
}

#pageContent {
  padding: 15px;
  background-color: #B2DDE0;
  border: 3px solid #38868C;
  border-radius: 20px;
}

.itemFrame {
  background-color: #B2DDE0;
  background-image: url("Assets/turquoise-flowsmall.png");
  background-size: 100% 100%;
  border: 2px solid #b3f0ff;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 20px;
  box-sizing: border-box;
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
  box-shadow: 5px 5px 25px 0px rgba(0,0,0,0.9);
  height:215px;
  padding : 20px;
}
.itemFrameWide {
  background-color: #B2DDE0;
  background-image: url("Assets/cellBgWide.jpg");
  border: 2px solid #b3f0ff;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 20px;
  box-sizing: border-box;
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
  box-shadow: 5px 5px 25px 0px rgba(0,0,0,0.6);
}

.dashboardItem {
  width:100px;
  height:100px;
  margin-bottom: 10px;
}
.itemLink {
  font-size: 24px;
  /*font-weight: bold;*/
  color: white;
}

  .itemLink:hover {
      color: lightblue;
  }

.headerTitle {
  padding-top: 10px;
  font-size: 30px;
  color: #38868C;
}

.langIcon {
  width: 10%;
  height: 10%;
  padding: 1px;
}

#mainContainer {
  margin-top: 20px;
}

.criteria {
  background-color: white;
  border-radius: 5px;
  margin: 5px;
}

.slider {
  width: 100% !important;
}
input, select {
  border-radius : 20px !important;
}
/*
Make bootstrap-select work with bootstrap 4 see:
https://github.com/silviomoreto/bootstrap-select/issues/1135
*/
.dropdown-toggle.btn-default {
  color: #292b2c;
  background-color: #fff;
  border-color: #ccc;
}

.bootstrap-select.show > .dropdown-menu > .dropdown-menu {
  display: block;
}

.bootstrap-select > .dropdown-menu > .dropdown-menu li.hidden {
  display: none;
}

.bootstrap-select > .dropdown-menu > .dropdown-menu li a {
  display: block;
  width: 100%;
  padding: 3px 1.5rem;
  clear: both;
  font-weight: 400;
  color: #292b2c;
  text-align: inherit;
  white-space: nowrap;
  background: 0 0;
  border: 0;
}

.dropdown-menu > li.active > a {
  color: #fff !important;
  background-color: #337ab7 !important;
}

.bootstrap-select .check-mark::after {
  content: "✓";
}

.bootstrap-select button {
  overflow: hidden;
  text-overflow: ellipsis;
}


/* Make filled out selects be the same size as empty selects */
.bootstrap-select.btn-group .dropdown-toggle .filter-option {
  display: inline !important;
}







.slider-selection {
  background: turquoise;
}

.slider-handle {
  background: blue;
}