<header class="row">
    <div class="col-xs-4 col-md-4">
      <div class="row">
        <div class="col-xs-12 col-sm-12"><img src="images/Xpertyz_logo.png" class="img-fluid" /></div>
      </div>
    </div>
    <div class="col-sm-4 d-none d-md-block"><h3 class="headerTitle">Collaborative platform</h3></div>
    <div class="col-sm-4 d-none d-md-block">
      <div class="row">
      </div>
    </div>
  </header>