<div class="form-group">
    <label for="{{$id}}" ng-show="label">{{$label}}</label>
    <input type="{{$type}}"
           class="form-control"
           id="{{$id}}"
           placeholder="{{$placeholder}}"
           value="{{$value}}">
</div>