<form class="needs-validation" id="registerForm" novalidate>
    <legend>Register</legend>
    <div id="page1" ng-show="register.page === 1">
                        
        <div class="form-group">
            <label for="firstname">Firstname</label>
            <input type="text" class="form-control" id="firstname" ng-model="firstname" placeholder="Firstname">
        </div>
    
                
        <div class="form-group">
            <label for="lastname">Lastname</label>
            <input type="text" class="form-control" id="lastname" ng-model="lastname" placeholder="Lastname">
        </div>
    

        <label for="birthDay">Birthday</label>
        <div class="row form-group" id="birthDayForm">
            <div class="col-xs-3 col-md-3"><select id="birthDay" ng-model="birthDay" class="form-control"></select></div>
            <div class="col-xs-6 col-md-6"><select id="birthMonth" ng-model="birthMonth" class="form-control"></select></div>
            <div class="col-xs-3 col-md-3"><select id="birthYear" ng-model="birthYear" class="form-control"></select></div>
        </div>

                
        <label for="streetName">Street number and name</label>
        <div class="row form-group">
            
            <div class="col-xs-3 col-md-3"><input type="text" class="form-control" id="streetNumber" ng-model="streetNumber" placeholder="Street number"></div>
            
            <div class="col-xs-9 col-md-9"><input type="text" class="form-control" id="streetName" ng-model="streetName" placeholder="Street name"></div>
            
        </div>
    

                
        <label for="postcode">Street number and name</label>
        <div class="row form-group">
            
            <div class="col-xs-3 col-md-3"><input type="text" class="form-control" id="postcode" ng-model="postcode" placeholder="Postcode"></div>
            
            <div class="col-xs-9 col-md-9"><input type="text" class="form-control" id="city" ng-model="city" placeholder="City name"></div>
            
        </div>
    

                
        <div class="form-group">
            <label for="countrySelect">Country</label>
            <select id="countrySelect" ng-model="countrySelect" class="form-control">
                
                <option value="be">Belgium</option>
                
                <option value="fr">France</option>
                
            </select>
        </div>
    
                
        <div class="form-group">
            <button type="button" class="btn btn-primary btn-block" ng-click="register.togglePage()">Next</button>
        </div>
    

    </div>
    <div id="page2" ng-show="register.page===2">
                        
        <div class="form-group">
            <label for="nationalRegisterNumber">National register number</label>
            <input type="text" class="form-control" id="nationalRegisterNumber" placeholder="National register number">
        </div>
    


                
        <div class="form-group">
            <label for="pwd1">Password</label>
            <input type="password" class="form-control" id="pwd1" placeholder="Password">
        </div>
    

                
        <div class="form-group">
            <label for="pwd2">Password confirmation</label>
            <input type="password" class="form-control" id="pwd2" placeholder="Password confirmation">
        </div>
    
                
        <div class="form-group">
            <label for="phone1">Phone number</label>
            <input type="text" class="form-control" id="phone1" placeholder="Phone number">
        </div>
    
                
        <div class="form-group">
            <label for="phone2">Secondary phone number</label>
            <input type="text" class="form-control" id="phone2" placeholder="Secondary phone number">
        </div>
    
                
        <div class="form-group">
            <button type="button" class="btn btn-primary btn-block" ng-click="register.togglePage()">Back</button>
        </div>
    
        <div class="form-group">
            <button type="button" class="btn btn-primary btn-block" id="registerSubmit">Submit</button>
        </div>
    
    </div>

</form>
<script>
    fillBirthDayForm("birth");
</script>